---
import Layout from "@layouts/Layout.astro";
import Intro from "@components/Intro.astro";
import Header from "@components/Header.astro";
import About from "@components/About.astro";
import CardWrapper from "@components/CardWrapper.astro";

import { experience, projects, links } from "@content/data.json";
---

<Layout title="Amitabh Sahu - Developer">
    <Header />
    <main>
        <About />
        <CardWrapper heading="Experience" items={experience} />
        <CardWrapper heading="Projects" items={projects} />
        <CardWrapper heading="Links" items={links} />
    </main>
    <Intro />
</Layout>

<style>
    main {
        margin: auto;
        position: relative;
        max-width: var(--max-width);
        padding: 4rem 1rem;
        display: grid;
        gap: 2.5rem;
    }
</style>
