---
import Layout from "@layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
import About from "@components/About.astro";
import CardWrapper from "@components/CardWrapper.astro";
import ThemeModal from "@components/ThemeModal.astro";
import Intro from "@components/Intro.astro";

import { experience, projects, links } from "@content/data.json";
---

<Layout title="Amitabh Sahu - Developer">
    <NavBar />
    <main>
        <About />
        <CardWrapper heading="Experience" items={experience} />
        <CardWrapper heading="Projects" items={projects} />
        <CardWrapper heading="Links" items={links} />
    </main>
    <ThemeModal />
    <Intro />
</Layout>

<style>
    main {
        margin: auto;
        position: relative;
        max-width: var(--max-width);
        padding: 4rem 1rem;
        display: grid;
        gap: 2.5rem;
    }
    :global(.loading),
    :global(.showThemeModal) {
        overflow: hidden;
    }
</style>
