---
import { profile } from "@content/data.json";
---

<section>
    <div class="grid">
        <div>
            <img src={profile.avatar} alt="amitabh's avatar" />
        </div>
        <div>
            <h1 class="name">{profile.name}</h1>
            <h2 class="title">{profile.title}</h2>
        </div>
    </div>
    <div>
        <h2 class="heading">About</h2>
        <p class="about">{profile.about}</p>
    </div>
</section>

<style>
    section {
        display: grid;
        gap: 1rem;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 1rem;
    }
    .grid > div:nth-child(1) {
        grid-column: 1;
        width: 5rem;
        aspect-ratio: 1;
        border: 2px solid #757575;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
    }
    .grid > div:nth-child(2) {
        grid-column: span 3;
    }
    .name {
        font-size: 1.1rem;
    }
    .title {
        font-size: 0.7rem;
        color: var(--sub-text);
    }
    img {
        width: 100%;
        height: 100%;
    }
    .heading,
    .about {
        font-size: 0.7rem;
    }
    .about {
        color: var(--sub-text);
        padding-top: 0.5rem;
    }
</style>
