---
import Card, { type CardData } from "@components/Card.astro";

interface Props {
    items: Array<CardData>;
}

const { items } = Astro.props;
---

<section>
    <h3 class="heading">Projects</h3>
    <ul role="list" class="card">
        {
            items.map((item) => (
                <li role="listitem">
                    <Card data={item} />
                </li>
            ))
        }
    </ul>
</section>
<style>
    .heading {
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }
    .card {
        list-style-type: none;
        display: grid;
        gap: 1rem;
    }
</style>
