---
import { profile } from "@content/data.json";
---

<nav>
    <svg
        viewBox="0 0 46 15"
        fill="none"
        class="logo"
        aria-label="as dot dev"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M25.224 14V12.944H26.1V14H25.224ZM32.2838 10.868C32.2838 10.516 32.2358 10.184 32.1398 9.872C32.0438 9.552 31.9038 9.276 31.7198 9.044C31.5438 8.804 31.3238 8.616 31.0598 8.48C30.8038 8.336 30.5118 8.264 30.1838 8.264C29.8078 8.264 29.4838 8.34 29.2118 8.492C28.9398 8.636 28.7158 8.836 28.5398 9.092C28.3638 9.348 28.2358 9.648 28.1558 9.992C28.0758 10.328 28.0438 10.692 28.0598 11.084C28.0598 11.476 28.1118 11.824 28.2158 12.128C28.3278 12.424 28.4798 12.676 28.6718 12.884C28.8638 13.092 29.0878 13.252 29.3438 13.364C29.5998 13.468 29.8798 13.52 30.1838 13.52C30.5198 13.52 30.8198 13.452 31.0838 13.316C31.3478 13.18 31.5678 12.996 31.7438 12.764C31.9198 12.524 32.0518 12.244 32.1398 11.924C32.2358 11.596 32.2838 11.244 32.2838 10.868ZM32.2838 5.36H33.0038V14H32.2838V12.908H32.2598C32.1558 13.116 32.0198 13.3 31.8518 13.46C31.6918 13.612 31.5118 13.74 31.3118 13.844C31.1198 13.948 30.9198 14.028 30.7118 14.084C30.5038 14.14 30.2998 14.168 30.0998 14.168C29.5958 14.168 29.1678 14.084 28.8158 13.916C28.4638 13.748 28.1718 13.52 27.9398 13.232C27.7158 12.936 27.5518 12.588 27.4478 12.188C27.3438 11.788 27.2918 11.36 27.2918 10.904C27.2918 10.472 27.3478 10.056 27.4598 9.656C27.5718 9.256 27.7398 8.908 27.9638 8.612C28.1958 8.308 28.4838 8.068 28.8278 7.892C29.1798 7.708 29.5918 7.616 30.0638 7.616C30.5038 7.616 30.9238 7.716 31.3238 7.916C31.7318 8.108 32.0518 8.396 32.2838 8.78V5.36ZM38.5998 10.46C38.5998 10.156 38.5558 9.872 38.4678 9.608C38.3878 9.336 38.2638 9.104 38.0958 8.912C37.9358 8.712 37.7318 8.556 37.4838 8.444C37.2358 8.324 36.9518 8.264 36.6318 8.264C36.3118 8.264 36.0278 8.324 35.7798 8.444C35.5398 8.564 35.3318 8.724 35.1558 8.924C34.9878 9.124 34.8518 9.356 34.7478 9.62C34.6438 9.884 34.5758 10.164 34.5438 10.46H38.5998ZM34.5438 11.06C34.5438 11.396 34.5878 11.716 34.6758 12.02C34.7638 12.316 34.8918 12.576 35.0598 12.8C35.2358 13.016 35.4558 13.192 35.7198 13.328C35.9838 13.456 36.2878 13.52 36.6318 13.52C37.1038 13.52 37.5078 13.396 37.8438 13.148C38.1798 12.9 38.4038 12.548 38.5158 12.092H39.3198C39.2318 12.388 39.1158 12.664 38.9718 12.92C38.8278 13.168 38.6478 13.388 38.4318 13.58C38.2158 13.764 37.9598 13.908 37.6638 14.012C37.3678 14.116 37.0238 14.168 36.6318 14.168C36.1358 14.168 35.7078 14.084 35.3478 13.916C34.9878 13.748 34.6918 13.52 34.4598 13.232C34.2278 12.936 34.0558 12.592 33.9438 12.2C33.8318 11.8 33.7758 11.372 33.7758 10.916C33.7758 10.46 33.8398 10.032 33.9678 9.632C34.1038 9.232 34.2918 8.884 34.5318 8.588C34.7798 8.284 35.0798 8.048 35.4318 7.88C35.7838 7.704 36.1838 7.616 36.6318 7.616C37.4878 7.616 38.1598 7.912 38.6478 8.504C39.1358 9.088 39.3758 9.94 39.3678 11.06H34.5438ZM39.3878 7.784H40.1678L42.1838 13.112L44.1998 7.784H44.9798L42.5678 14H41.7638L39.3878 7.784Z"
            fill="#757575"></path>
        <path
            d="M2.03906 2.60938C2.92188 1.48438 4.4375 0.921875 6.58594 0.921875C7.98438 0.921875 9.22656 1.19922 10.3125 1.75391C11.3984 2.30859 11.9414 3.35547 11.9414 4.89453V10.7539C11.9414 11.1602 11.9492 11.6523 11.9648 12.2305C11.9883 12.668 12.0547 12.9648 12.1641 13.1211C12.2734 13.2773 12.4375 13.4062 12.6562 13.5078V14H9.02344C8.92188 13.7422 8.85156 13.5 8.8125 13.2734C8.77344 13.0469 8.74219 12.7891 8.71875 12.5C8.25781 13 7.72656 13.4258 7.125 13.7773C6.40625 14.1914 5.59375 14.3984 4.6875 14.3984C3.53125 14.3984 2.57422 14.0703 1.81641 13.4141C1.06641 12.75 0.691406 11.8125 0.691406 10.6016C0.691406 9.03125 1.29688 7.89453 2.50781 7.19141C3.17188 6.80859 4.14844 6.53516 5.4375 6.37109L6.57422 6.23047C7.19141 6.15234 7.63281 6.05469 7.89844 5.9375C8.375 5.73438 8.61328 5.41797 8.61328 4.98828C8.61328 4.46484 8.42969 4.10547 8.0625 3.91016C7.70312 3.70703 7.17188 3.60547 6.46875 3.60547C5.67969 3.60547 5.12109 3.80078 4.79297 4.19141C4.55859 4.48047 4.40234 4.87109 4.32422 5.36328H1.10156C1.17188 4.24609 1.48438 3.32812 2.03906 2.60938ZM4.52344 11.5859C4.83594 11.8438 5.21875 11.9727 5.67188 11.9727C6.39062 11.9727 7.05078 11.7617 7.65234 11.3398C8.26172 10.918 8.57812 10.1484 8.60156 9.03125V7.78906C8.39062 7.92188 8.17578 8.03125 7.95703 8.11719C7.74609 8.19531 7.45312 8.26953 7.07812 8.33984L6.32812 8.48047C5.625 8.60547 5.12109 8.75781 4.81641 8.9375C4.30078 9.24219 4.04297 9.71484 4.04297 10.3555C4.04297 10.9258 4.20312 11.3359 4.52344 11.5859ZM20.8387 1.8125C21.8387 2.45312 22.413 3.55469 22.5614 5.11719H19.2216C19.1747 4.6875 19.0536 4.34766 18.8583 4.09766C18.4911 3.64453 17.8661 3.41797 16.9833 3.41797C16.2567 3.41797 15.7372 3.53125 15.4247 3.75781C15.12 3.98438 14.9677 4.25 14.9677 4.55469C14.9677 4.9375 15.1317 5.21484 15.4598 5.38672C15.788 5.56641 16.9481 5.875 18.9403 6.3125C20.2684 6.625 21.2645 7.09766 21.9286 7.73047C22.5848 8.37109 22.913 9.17188 22.913 10.1328C22.913 11.3984 22.4403 12.4336 21.495 13.2383C20.5575 14.0352 19.1044 14.4336 17.1356 14.4336C15.1278 14.4336 13.6434 14.0117 12.6825 13.168C11.7294 12.3164 11.2528 11.2344 11.2528 9.92188H14.6395C14.7098 10.5156 14.8622 10.9375 15.0966 11.1875C15.5106 11.6328 16.2762 11.8555 17.3934 11.8555C18.0497 11.8555 18.5692 11.7578 18.952 11.5625C19.3427 11.3672 19.538 11.0742 19.538 10.6836C19.538 10.3086 19.3817 10.0234 19.0692 9.82812C18.7567 9.63281 17.5966 9.29688 15.5887 8.82031C14.1434 8.46094 13.1239 8.01172 12.5302 7.47266C11.9364 6.94141 11.6395 6.17578 11.6395 5.17578C11.6395 3.99609 12.1005 2.98438 13.0223 2.14062C13.952 1.28906 15.2567 0.863281 16.9364 0.863281C18.5302 0.863281 19.8309 1.17969 20.8387 1.8125Z"
            fill="#757575"></path>
        <path
            d="M4.03906 2.60938C4.92188 1.48438 6.4375 0.921875 8.58594 0.921875C9.98438 0.921875 11.2266 1.19922 12.3125 1.75391C13.3984 2.30859 13.9414 3.35547 13.9414 4.89453V10.7539C13.9414 11.1602 13.9492 11.6523 13.9648 12.2305C13.9883 12.668 14.0547 12.9648 14.1641 13.1211C14.2734 13.2773 14.4375 13.4062 14.6562 13.5078V14H11.0234C10.9219 13.7422 10.8516 13.5 10.8125 13.2734C10.7734 13.0469 10.7422 12.7891 10.7188 12.5C10.2578 13 9.72656 13.4258 9.125 13.7773C8.40625 14.1914 7.59375 14.3984 6.6875 14.3984C5.53125 14.3984 4.57422 14.0703 3.81641 13.4141C3.06641 12.75 2.69141 11.8125 2.69141 10.6016C2.69141 9.03125 3.29688 7.89453 4.50781 7.19141C5.17188 6.80859 6.14844 6.53516 7.4375 6.37109L8.57422 6.23047C9.19141 6.15234 9.63281 6.05469 9.89844 5.9375C10.375 5.73438 10.6133 5.41797 10.6133 4.98828C10.6133 4.46484 10.4297 4.10547 10.0625 3.91016C9.70312 3.70703 9.17188 3.60547 8.46875 3.60547C7.67969 3.60547 7.12109 3.80078 6.79297 4.19141C6.55859 4.48047 6.40234 4.87109 6.32422 5.36328H3.10156C3.17188 4.24609 3.48438 3.32812 4.03906 2.60938ZM6.52344 11.5859C6.83594 11.8438 7.21875 11.9727 7.67188 11.9727C8.39062 11.9727 9.05078 11.7617 9.65234 11.3398C10.2617 10.918 10.5781 10.1484 10.6016 9.03125V7.78906C10.3906 7.92188 10.1758 8.03125 9.95703 8.11719C9.74609 8.19531 9.45312 8.26953 9.07812 8.33984L8.32812 8.48047C7.625 8.60547 7.12109 8.75781 6.81641 8.9375C6.30078 9.24219 6.04297 9.71484 6.04297 10.3555C6.04297 10.9258 6.20312 11.3359 6.52344 11.5859ZM22.8387 1.8125C23.8387 2.45312 24.413 3.55469 24.5614 5.11719H21.2216C21.1747 4.6875 21.0536 4.34766 20.8583 4.09766C20.4911 3.64453 19.8661 3.41797 18.9833 3.41797C18.2567 3.41797 17.7372 3.53125 17.4247 3.75781C17.12 3.98438 16.9677 4.25 16.9677 4.55469C16.9677 4.9375 17.1317 5.21484 17.4598 5.38672C17.788 5.56641 18.9481 5.875 20.9403 6.3125C22.2684 6.625 23.2645 7.09766 23.9286 7.73047C24.5848 8.37109 24.913 9.17188 24.913 10.1328C24.913 11.3984 24.4403 12.4336 23.495 13.2383C22.5575 14.0352 21.1044 14.4336 19.1356 14.4336C17.1278 14.4336 15.6434 14.0117 14.6825 13.168C13.7294 12.3164 13.2528 11.2344 13.2528 9.92188H16.6395C16.7098 10.5156 16.8622 10.9375 17.0966 11.1875C17.5106 11.6328 18.2762 11.8555 19.3934 11.8555C20.0497 11.8555 20.5692 11.7578 20.952 11.5625C21.3427 11.3672 21.538 11.0742 21.538 10.6836C21.538 10.3086 21.3817 10.0234 21.0692 9.82812C20.7567 9.63281 19.5966 9.29688 17.5887 8.82031C16.1434 8.46094 15.1239 8.01172 14.5302 7.47266C13.9364 6.94141 13.6395 6.17578 13.6395 5.17578C13.6395 3.99609 14.1005 2.98438 15.0223 2.14062C15.952 1.28906 17.2567 0.863281 18.9364 0.863281C20.5302 0.863281 21.8309 1.17969 22.8387 1.8125Z"
            fill="#F5996F"></path>
    </svg>
    <div class="navActions">
        <a
            href={profile.resume}
            target="_blank"
            id="previewResume"
            title="Preview Resume"
            aria-label="Preview Amitabh's Resume"
        >
            <svg viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.3923 2.3923V8.8923C12.3923 9.672 12.9872 10.3128 13.7478 10.3854L13.8923 10.3923H20.3923V20.3923C20.3923 21.4467 19.5765 22.3105 18.5416 22.3868L18.3923 22.3923H6.3923C5.33794 22.3923 4.47414 21.5765 4.39779 20.5416L4.3923 20.3923L4.3923 4.3923C4.3923 3.33794 5.20818 2.47414 6.24304 2.39779L6.3923 2.3923L12.3923 2.3923ZM14.3923 2.43566C14.7145 2.50388 15.0164 2.65099 15.2698 2.86536L15.3923 2.97809L19.8065 7.3923C20.043 7.62877 20.2142 7.91836 20.3083 8.23302L20.3489 8.3923H14.3923V2.43566Z"
                ></path>
            </svg>
        </a>
        <button id="themeToggle" title="Toggle Theme" aria-label="toggle theme">
            <svg viewBox="0 0 255 255" xmlns="http://www.w3.org/2000/svg">
                <path
                    class="sun"
                    d="M127.495 21.2553C131.16 21.2553 134.135 24.2303 134.135 27.8959V41.1772C134.135 42.9384 133.436 44.6275 132.19 45.8728C130.945 47.1182 129.256 47.8178 127.495 47.8178C125.733 47.8178 124.044 47.1182 122.799 45.8728C121.554 44.6275 120.854 42.9384 120.854 41.1772V27.8959C120.854 24.2303 123.829 21.2553 127.495 21.2553ZM180.742 127.75C180.742 157.016 157.016 180.742 127.75 180.742C98.4778 180.742 74.7522 157.016 74.7522 127.75C74.7522 98.4778 98.4778 74.7522 127.75 74.7522C157.016 74.7522 180.742 98.4778 180.742 127.75ZM227.109 134.141C228.871 134.141 230.56 133.441 231.805 132.196C233.05 130.95 233.75 129.261 233.75 127.5C233.75 125.739 233.05 124.05 231.805 122.804C230.56 121.559 228.871 120.859 227.109 120.859H213.828C212.067 120.859 210.378 121.559 209.132 122.804C207.887 124.05 207.187 125.739 207.187 127.5C207.187 129.261 207.887 130.95 209.132 132.196C210.378 133.441 212.067 134.141 213.828 134.141H227.109ZM127.495 207.188C131.16 207.188 134.135 210.163 134.135 213.828V227.109C134.135 228.871 133.436 230.56 132.19 231.805C130.945 233.05 129.256 233.75 127.495 233.75C125.733 233.75 124.044 233.05 122.799 231.805C121.554 230.56 120.854 228.871 120.854 227.109V213.828C120.854 210.163 123.829 207.188 127.495 207.188ZM41.1719 134.141C42.9331 134.141 44.6221 133.441 45.8675 132.196C47.1129 130.95 47.8125 129.261 47.8125 127.5C47.8125 125.739 47.1129 124.05 45.8675 122.804C44.6221 121.559 42.9331 120.859 41.1719 120.859H27.8906C26.1294 120.859 24.4404 121.559 23.195 122.804C21.9496 124.05 21.25 125.739 21.25 127.5C21.25 129.261 21.9496 130.95 23.195 132.196C24.4404 133.441 26.1294 134.141 27.8906 134.141H41.1719ZM49.7569 49.7569C50.3735 49.1401 51.1057 48.6507 51.9115 48.3169C52.7173 47.9831 53.5809 47.8113 54.4531 47.8113C55.3253 47.8113 56.189 47.9831 56.9948 48.3169C57.8006 48.6507 58.5327 49.1401 59.1494 49.7569L72.4306 63.0381C73.0473 63.6548 73.5365 64.387 73.8703 65.1928C74.2041 65.9986 74.3759 66.8622 74.3759 67.7344C74.3759 68.6066 74.2041 69.4702 73.8703 70.276C73.5365 71.0818 73.0473 71.8139 72.4306 72.4306C71.8139 73.0473 71.0817 73.5366 70.276 73.8703C69.4702 74.2041 68.6065 74.3759 67.7344 74.3759C66.8622 74.3759 65.9986 74.2041 65.1928 73.8703C64.387 73.5366 63.6548 73.0473 63.0381 72.4306L49.7569 59.1494C49.14 58.5327 48.6507 57.8006 48.3169 56.9948C47.9831 56.189 47.8113 55.3253 47.8113 54.4531C47.8113 53.5809 47.9831 52.7173 48.3169 51.9115C48.6507 51.1057 49.14 50.3735 49.7569 49.7569ZM59.1494 205.248C57.9038 206.494 56.2146 207.194 54.4531 207.194C52.6917 207.194 51.0024 206.494 49.7569 205.248C48.5114 204.003 47.8116 202.314 47.8116 200.552C47.8116 198.791 48.5114 197.101 49.7569 195.856L63.0381 182.575C63.6548 181.958 64.387 181.469 65.1928 181.135C65.9986 180.801 66.8622 180.629 67.7344 180.629C68.6065 180.629 69.4702 180.801 70.276 181.135C71.0817 181.469 71.8139 181.958 72.4306 182.575C73.0473 183.191 73.5365 183.924 73.8703 184.729C74.2041 185.535 74.3759 186.399 74.3759 187.271C74.3759 188.143 74.2041 189.007 73.8703 189.813C73.5365 190.618 73.0473 191.35 72.4306 191.967L59.1494 205.248ZM205.243 49.7569C203.998 48.5128 202.31 47.8139 200.55 47.8139C198.789 47.8139 197.101 48.5128 195.856 49.7569L182.575 63.0381C181.329 64.2837 180.629 65.9729 180.629 67.7344C180.629 69.4958 181.329 71.1851 182.575 72.4306C183.82 73.6761 185.509 74.3759 187.271 74.3759C189.032 74.3759 190.722 73.6761 191.967 72.4306L205.248 59.1494C205.865 58.5327 206.355 57.8006 206.688 56.9948C207.022 56.189 207.194 55.3253 207.194 54.4531C207.194 53.5809 207.022 52.7173 206.688 51.9115C206.355 51.1057 205.86 50.3735 205.243 49.7569ZM195.856 205.248C197.101 206.494 198.791 207.194 200.552 207.194C202.314 207.194 204.003 206.494 205.248 205.248C206.494 204.003 207.194 202.314 207.194 200.552C207.194 198.791 206.494 197.101 205.248 195.856L191.967 182.575C191.35 181.958 190.618 181.469 189.813 181.135C189.007 180.801 188.143 180.629 187.271 180.629C186.399 180.629 185.535 180.801 184.729 181.135C183.924 181.469 183.191 181.958 182.575 182.575C181.958 183.191 181.469 183.924 181.135 184.729C180.801 185.535 180.629 186.399 180.629 187.271C180.629 188.143 180.801 189.007 181.135 189.813C181.469 190.618 181.958 191.35 182.575 191.967L195.856 205.248Z"
                ></path>
                <path
                    class="moon"
                    d="M124.476 27.0482C124.212 25.9958 124.203 24.8956 124.449 23.8388C124.695 22.782 125.189 21.7989 125.89 20.9711C126.592 20.1433 127.48 19.4945 128.482 19.0784C129.485 18.6623 130.571 18.491 131.653 18.5786C187.853 23.0957 232.05 70.125 232.05 127.5C232.05 187.862 183.126 236.786 122.764 236.786C103.627 236.793 84.823 231.773 68.2357 222.228C51.6485 212.683 37.8598 198.948 28.2504 182.398C27.7155 181.48 27.4021 180.451 27.3349 179.391C27.2676 178.331 27.4485 177.27 27.8632 176.292C28.2778 175.314 28.9148 174.446 29.7234 173.758C30.5321 173.069 31.4902 172.579 32.5216 172.325C47.0839 168.746 64.852 163 80.9716 154.075C97.1186 145.122 111.116 133.247 118.93 117.619C134.54 86.4086 130.414 50.7268 124.476 27.0482Z"
                ></path>
            </svg>
        </button>
    </div>
</nav>

<style>
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 1rem;
        background: var(--background);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        height: 1.8rem;
    }
    .navActions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
    }
    #previewResume {
        width: 1.2rem;
        aspect-ratio: 1;
        fill: var(--text);
        line-height: 0.75rem;
    }
    #themeToggle {
        border: 0;
        width: 1.2rem;
        aspect-ratio: 1;
        background: none;
        cursor: pointer;
    }
    :global(.dark) .sun {
        fill: var(--text);
    }
    :global(.dark) .moon {
        fill: transparent;
    }
    :global(.dark) #themeToggle:hover .sun {
        fill: var(--accent);
    }
    :global(.light) .sun {
        fill: transparent;
    }
    :global(.light) .moon {
        fill: var(--text);
    }
    :global(.light) #themeToggle:hover .moon {
        fill: var(--accent);
    }
</style>

<script async is:inline>
    (() => {
        let theme = "dark";

        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            theme = localStorage.getItem("theme");
        } else {
            localStorage.setItem("theme", theme);
        }

        document.documentElement.classList.add(theme);
    })();

    const handleToggleClick = (e) => {
        const isDark = document.documentElement.classList.contains("dark");

        localStorage.setItem("theme", isDark ? "light" : "dark");
        document.documentElement.classList = isDark ? "light" : "dark";

        isDark &&
            setTimeout(() => {
                document.documentElement.classList.toggle("showThemeModal");
            }, 250);
    };

    document
        .getElementById("themeToggle")
        .addEventListener("click", handleToggleClick);
</script>
