---

---

<div class="intro" id="intro">
    <svg
        id="svgId"
        viewBox="0 0 650 200"
        fill="#FFFFFF"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            data-sn={1}
            d="M34.3438 58V37.4375H16.3438V58H6.8125V11.9375H16.3438V29.5H34.3438V11.9375H43.9062V58H34.3438Z"
        ></path>
        <path
            data-sn={2}
            d="M61.3125 23.9375V58H52.2812V23.9375H61.3125ZM61.3125 11.6562V19.875H52.2812V11.6562H61.3125Z"
        ></path>
        <path
            data-sn={3}
            d="M78.75 61.1875C78.375 62.7292 77.6771 64.0625 76.6562 65.1875C75.5521 66.3958 74.25 67.3021 72.75 67.9062C71.2708 68.5312 70.25 68.8438 69.6875 68.8438V65.4062C71.4792 64.9062 72.7917 64.0729 73.625 62.9062C74.4792 61.7396 74.9688 60.1042 75.0938 58H69.6875V48.6875H79.3125V56.75C79.3125 58.1667 79.125 59.6458 78.75 61.1875Z"
        ></path>
        <path data-sn={4} d="M6.125 75.9375H15.6875V122H6.125V75.9375Z"></path>
        <path
            data-sn={5}
            d="M33.0312 82.6875C33.0312 85.8333 32.2604 88.3125 30.7188 90.125C29.1979 91.9375 27.0521 93.1146 24.2812 93.6562V90.375C26.3229 89.7292 27.7292 88.6354 28.5 87.0938C28.9167 86.1771 29.0938 85.25 29.0312 84.3125H24.125V76.0938H33.0312V82.6875Z"
        ></path>
        <path
            data-sn={6}
            d="M61.2812 97.3125C60.5312 95.6667 59.0625 94.8438 56.875 94.8438C54.3333 94.8438 52.625 95.6667 51.75 97.3125C51.2708 98.25 51.0312 99.6458 51.0312 101.5V122H42V88H50.6562V92.9688C51.7604 91.1979 52.8021 89.9375 53.7812 89.1875C55.5104 87.8542 57.75 87.1875 60.5 87.1875C63.1042 87.1875 65.2083 87.7604 66.8125 88.9062C68.1042 89.9688 69.0833 91.3333 69.75 93C70.9167 91 72.3646 89.5312 74.0938 88.5938C75.9271 87.6562 77.9688 87.1875 80.2188 87.1875C81.7188 87.1875 83.1979 87.4792 84.6562 88.0625C86.1146 88.6458 87.4375 89.6667 88.625 91.125C89.5833 92.3125 90.2292 93.7708 90.5625 95.5C90.7708 96.6458 90.875 98.3229 90.875 100.531L90.8125 122H81.6875V100.312C81.6875 99.0208 81.4792 97.9583 81.0625 97.125C80.2708 95.5417 78.8125 94.75 76.6875 94.75C74.2292 94.75 72.5312 95.7708 71.5938 97.8125C71.1146 98.8958 70.875 100.198 70.875 101.719V122H61.9062V101.719C61.9062 99.6979 61.6979 98.2292 61.2812 97.3125Z"
        ></path>
        <path
            data-sn={7}
            d="M122.875 61.25C127.583 55.25 135.667 52.25 147.125 52.25C154.583 52.25 161.208 53.7292 167 56.6875C172.792 59.6458 175.688 65.2292 175.688 73.4375V104.688C175.688 106.854 175.729 109.479 175.812 112.562C175.938 114.896 176.292 116.479 176.875 117.312C177.458 118.146 178.333 118.833 179.5 119.375V122H160.125C159.583 120.625 159.208 119.333 159 118.125C158.792 116.917 158.625 115.542 158.5 114C156.042 116.667 153.208 118.938 150 120.812C146.167 123.021 141.833 124.125 137 124.125C130.833 124.125 125.729 122.375 121.688 118.875C117.688 115.333 115.688 110.333 115.688 103.875C115.688 95.5 118.917 89.4375 125.375 85.6875C128.917 83.6458 134.125 82.1875 141 81.3125L147.062 80.5625C150.354 80.1458 152.708 79.625 154.125 79C156.667 77.9167 157.938 76.2292 157.938 73.9375C157.938 71.1458 156.958 69.2292 155 68.1875C153.083 67.1042 150.25 66.5625 146.5 66.5625C142.292 66.5625 139.312 67.6042 137.562 69.6875C136.312 71.2292 135.479 73.3125 135.062 75.9375H117.875C118.25 69.9792 119.917 65.0833 122.875 61.25ZM136.125 109.125C137.792 110.5 139.833 111.188 142.25 111.188C146.083 111.188 149.604 110.062 152.812 107.812C156.062 105.562 157.75 101.458 157.875 95.5V88.875C156.75 89.5833 155.604 90.1667 154.438 90.625C153.312 91.0417 151.75 91.4375 149.75 91.8125L145.75 92.5625C142 93.2292 139.312 94.0417 137.688 95C134.938 96.625 133.562 99.1458 133.562 102.562C133.562 105.604 134.417 107.792 136.125 109.125Z"
        ></path>
        <path
            data-sn={8}
            d="M207.281 97.3125C206.531 95.6667 205.062 94.8438 202.875 94.8438C200.333 94.8438 198.625 95.6667 197.75 97.3125C197.271 98.25 197.031 99.6458 197.031 101.5V122H188V88H196.656V92.9688C197.76 91.1979 198.802 89.9375 199.781 89.1875C201.51 87.8542 203.75 87.1875 206.5 87.1875C209.104 87.1875 211.208 87.7604 212.812 88.9062C214.104 89.9688 215.083 91.3333 215.75 93C216.917 91 218.365 89.5312 220.094 88.5938C221.927 87.6562 223.969 87.1875 226.219 87.1875C227.719 87.1875 229.198 87.4792 230.656 88.0625C232.115 88.6458 233.438 89.6667 234.625 91.125C235.583 92.3125 236.229 93.7708 236.562 95.5C236.771 96.6458 236.875 98.3229 236.875 100.531L236.812 122H227.688V100.312C227.688 99.0208 227.479 97.9583 227.062 97.125C226.271 95.5417 224.812 94.75 222.688 94.75C220.229 94.75 218.531 95.7708 217.594 97.8125C217.115 98.8958 216.875 100.198 216.875 101.719V122H207.906V101.719C207.906 99.6979 207.698 98.2292 207.281 97.3125Z"
        ></path>
        <path
            data-sn={9}
            d="M254.312 87.9375V122H245.281V87.9375H254.312ZM254.312 75.6562V83.875H245.281V75.6562H254.312Z"
        ></path>
        <path
            data-sn={10}
            d="M278.75 115.656V122.312L274.531 122.469C270.323 122.615 267.448 121.885 265.906 120.281C264.906 119.26 264.406 117.688 264.406 115.562V94.5938H259.656V88.25H264.406V78.75H273.219V88.25H278.75V94.5938H273.219V112.594C273.219 113.99 273.396 114.865 273.75 115.219C274.104 115.552 275.188 115.719 277 115.719C277.271 115.719 277.552 115.719 277.844 115.719C278.156 115.698 278.458 115.677 278.75 115.656Z"
        ></path>
        <path
            data-sn={11}
            d="M284.438 91.625C286.792 88.625 290.833 87.125 296.562 87.125C300.292 87.125 303.604 87.8646 306.5 89.3438C309.396 90.8229 310.844 93.6146 310.844 97.7188V113.344C310.844 114.427 310.865 115.74 310.906 117.281C310.969 118.448 311.146 119.24 311.438 119.656C311.729 120.073 312.167 120.417 312.75 120.688V122H303.062C302.792 121.312 302.604 120.667 302.5 120.062C302.396 119.458 302.312 118.771 302.25 118C301.021 119.333 299.604 120.469 298 121.406C296.083 122.51 293.917 123.062 291.5 123.062C288.417 123.062 285.865 122.188 283.844 120.438C281.844 118.667 280.844 116.167 280.844 112.938C280.844 108.75 282.458 105.719 285.688 103.844C287.458 102.823 290.062 102.094 293.5 101.656L296.531 101.281C298.177 101.073 299.354 100.812 300.062 100.5C301.333 99.9583 301.969 99.1146 301.969 97.9688C301.969 96.5729 301.479 95.6146 300.5 95.0938C299.542 94.5521 298.125 94.2812 296.25 94.2812C294.146 94.2812 292.656 94.8021 291.781 95.8438C291.156 96.6146 290.74 97.6562 290.531 98.9688H281.938C282.125 95.9896 282.958 93.5417 284.438 91.625ZM291.062 115.562C291.896 116.25 292.917 116.594 294.125 116.594C296.042 116.594 297.802 116.031 299.406 114.906C301.031 113.781 301.875 111.729 301.938 108.75V105.438C301.375 105.792 300.802 106.083 300.219 106.312C299.656 106.521 298.875 106.719 297.875 106.906L295.875 107.281C294 107.615 292.656 108.021 291.844 108.5C290.469 109.312 289.781 110.573 289.781 112.281C289.781 113.802 290.208 114.896 291.062 115.562Z"
        ></path>
        <path
            data-sn={12}
            d="M337.656 122.906C334.844 122.906 332.583 122.344 330.875 121.219C329.854 120.552 328.75 119.385 327.562 117.719V122H318.844V76H327.719V92.375C328.844 90.7917 330.083 89.5833 331.438 88.75C333.042 87.7083 335.083 87.1875 337.562 87.1875C342.042 87.1875 345.542 88.8021 348.062 92.0312C350.604 95.2604 351.875 99.4271 351.875 104.531C351.875 109.823 350.625 114.208 348.125 117.688C345.625 121.167 342.135 122.906 337.656 122.906ZM342.531 105.469C342.531 103.052 342.219 101.052 341.594 99.4688C340.406 96.4688 338.219 94.9688 335.031 94.9688C331.802 94.9688 329.583 96.4375 328.375 99.375C327.75 100.938 327.438 102.958 327.438 105.438C327.438 108.354 328.083 110.771 329.375 112.688C330.667 114.604 332.635 115.562 335.281 115.562C337.573 115.562 339.354 114.635 340.625 112.781C341.896 110.927 342.531 108.49 342.531 105.469Z"
        ></path>
        <path
            data-sn={13}
            d="M389.938 102V122H380.844V101.281C380.844 99.4479 380.531 97.9688 379.906 96.8438C379.094 95.2604 377.552 94.4688 375.281 94.4688C372.927 94.4688 371.135 95.2604 369.906 96.8438C368.698 98.4062 368.094 100.646 368.094 103.562V122H359.219V76.0938H368.094V92.375C369.385 90.3958 370.875 89.0208 372.562 88.25C374.271 87.4583 376.062 87.0625 377.938 87.0625C380.042 87.0625 381.948 87.4271 383.656 88.1562C385.385 88.8854 386.802 90 387.906 91.5C388.844 92.7708 389.417 94.0833 389.625 95.4375C389.833 96.7708 389.938 98.9583 389.938 102Z"
        ></path>
        <path
            data-sn={14}
            d="M466.25 57C471.583 60.4167 474.646 66.2917 475.438 74.625H457.625C457.375 72.3333 456.729 70.5208 455.688 69.1875C453.729 66.7708 450.396 65.5625 445.688 65.5625C441.812 65.5625 439.042 66.1667 437.375 67.375C435.75 68.5833 434.938 70 434.938 71.625C434.938 73.6667 435.812 75.1458 437.562 76.0625C439.312 77.0208 445.5 78.6667 456.125 81C463.208 82.6667 468.521 85.1875 472.062 88.5625C475.562 91.9792 477.312 96.25 477.312 101.375C477.312 108.125 474.792 113.646 469.75 117.938C464.75 122.188 457 124.312 446.5 124.312C435.792 124.312 427.875 122.062 422.75 117.562C417.667 113.021 415.125 107.25 415.125 100.25H433.188C433.562 103.417 434.375 105.667 435.625 107C437.833 109.375 441.917 110.562 447.875 110.562C451.375 110.562 454.146 110.042 456.188 109C458.271 107.958 459.312 106.396 459.312 104.312C459.312 102.312 458.479 100.792 456.812 99.75C455.146 98.7083 448.958 96.9167 438.25 94.375C430.542 92.4583 425.104 90.0625 421.938 87.1875C418.771 84.3542 417.188 80.2708 417.188 74.9375C417.188 68.6458 419.646 63.25 424.562 58.75C429.521 54.2083 436.479 51.9375 445.438 51.9375C453.938 51.9375 460.875 53.625 466.25 57Z"
        ></path>
        <path
            data-sn={15}
            d="M488.438 91.625C490.792 88.625 494.833 87.125 500.562 87.125C504.292 87.125 507.604 87.8646 510.5 89.3438C513.396 90.8229 514.844 93.6146 514.844 97.7188V113.344C514.844 114.427 514.865 115.74 514.906 117.281C514.969 118.448 515.146 119.24 515.438 119.656C515.729 120.073 516.167 120.417 516.75 120.688V122H507.062C506.792 121.312 506.604 120.667 506.5 120.062C506.396 119.458 506.312 118.771 506.25 118C505.021 119.333 503.604 120.469 502 121.406C500.083 122.51 497.917 123.062 495.5 123.062C492.417 123.062 489.865 122.188 487.844 120.438C485.844 118.667 484.844 116.167 484.844 112.938C484.844 108.75 486.458 105.719 489.688 103.844C491.458 102.823 494.062 102.094 497.5 101.656L500.531 101.281C502.177 101.073 503.354 100.812 504.062 100.5C505.333 99.9583 505.969 99.1146 505.969 97.9688C505.969 96.5729 505.479 95.6146 504.5 95.0938C503.542 94.5521 502.125 94.2812 500.25 94.2812C498.146 94.2812 496.656 94.8021 495.781 95.8438C495.156 96.6146 494.74 97.6562 494.531 98.9688H485.938C486.125 95.9896 486.958 93.5417 488.438 91.625ZM495.062 115.562C495.896 116.25 496.917 116.594 498.125 116.594C500.042 116.594 501.802 116.031 503.406 114.906C505.031 113.781 505.875 111.729 505.938 108.75V105.438C505.375 105.792 504.802 106.083 504.219 106.312C503.656 106.521 502.875 106.719 501.875 106.906L499.875 107.281C498 107.615 496.656 108.021 495.844 108.5C494.469 109.312 493.781 110.573 493.781 112.281C493.781 113.802 494.208 114.896 495.062 115.562Z"
        ></path>
        <path
            data-sn={16}
            d="M553.938 102V122H544.844V101.281C544.844 99.4479 544.531 97.9688 543.906 96.8438C543.094 95.2604 541.552 94.4688 539.281 94.4688C536.927 94.4688 535.135 95.2604 533.906 96.8438C532.698 98.4062 532.094 100.646 532.094 103.562V122H523.219V76.0938H532.094V92.375C533.385 90.3958 534.875 89.0208 536.562 88.25C538.271 87.4583 540.062 87.0625 541.938 87.0625C544.042 87.0625 545.948 87.4271 547.656 88.1562C549.385 88.8854 550.802 90 551.906 91.5C552.844 92.7708 553.417 94.0833 553.625 95.4375C553.833 96.7708 553.938 98.9583 553.938 102Z"
        ></path>
        <path
            data-sn={17}
            d="M583 117.188C582.917 117.292 582.708 117.604 582.375 118.125C582.042 118.646 581.646 119.104 581.188 119.5C579.792 120.75 578.438 121.604 577.125 122.062C575.833 122.521 574.312 122.75 572.562 122.75C567.521 122.75 564.125 120.938 562.375 117.312C561.396 115.312 560.906 112.365 560.906 108.469V87.9375H570.031V108.469C570.031 110.406 570.26 111.865 570.719 112.844C571.531 114.573 573.125 115.438 575.5 115.438C578.542 115.438 580.625 114.208 581.75 111.75C582.333 110.417 582.625 108.656 582.625 106.469V87.9375H591.656V122H583V117.188Z"
        ></path>
        <path
            data-sn={18}
            d="M609.75 125.188C609.375 126.729 608.677 128.062 607.656 129.188C606.552 130.396 605.25 131.302 603.75 131.906C602.271 132.531 601.25 132.844 600.688 132.844V129.406C602.479 128.906 603.792 128.073 604.625 126.906C605.479 125.74 605.969 124.104 606.094 122H600.688V112.688H610.312V120.75C610.312 122.167 610.125 123.646 609.75 125.188Z"
        ></path>
        <path
            data-sn={19}
            d="M37.1562 140V186H28.5V181.281C27.2292 183.302 25.7812 184.771 24.1562 185.688C22.5312 186.604 20.5104 187.062 18.0938 187.062C14.1146 187.062 10.7604 185.458 8.03125 182.25C5.32292 179.021 3.96875 174.885 3.96875 169.844C3.96875 164.031 5.30208 159.458 7.96875 156.125C10.6562 152.792 14.2396 151.125 18.7188 151.125C20.7812 151.125 22.6146 151.583 24.2188 152.5C25.8229 153.396 27.125 154.646 28.125 156.25V140H37.1562ZM13.1562 169.188C13.1562 172.333 13.7812 174.844 15.0312 176.719C16.2604 178.615 18.1354 179.562 20.6562 179.562C23.1771 179.562 25.0938 178.625 26.4062 176.75C27.7188 174.875 28.375 172.448 28.375 169.469C28.375 165.302 27.3229 162.323 25.2188 160.531C23.9271 159.448 22.4271 158.906 20.7188 158.906C18.1146 158.906 16.1979 159.896 14.9688 161.875C13.7604 163.833 13.1562 166.271 13.1562 169.188Z"
        ></path>
        <path
            data-sn={20}
            d="M75.3125 176C75.0833 178.021 74.0312 180.073 72.1562 182.156C69.2396 185.469 65.1562 187.125 59.9062 187.125C55.5729 187.125 51.75 185.729 48.4375 182.938C45.125 180.146 43.4688 175.604 43.4688 169.312C43.4688 163.417 44.9583 158.896 47.9375 155.75C50.9375 152.604 54.8229 151.031 59.5938 151.031C62.4271 151.031 64.9792 151.562 67.25 152.625C69.5208 153.688 71.3958 155.365 72.875 157.656C74.2083 159.677 75.0729 162.021 75.4688 164.688C75.6979 166.25 75.7917 168.5 75.75 171.438H52.4375C52.5625 174.854 53.6354 177.25 55.6562 178.625C56.8854 179.479 58.3646 179.906 60.0938 179.906C61.9271 179.906 63.4167 179.385 64.5625 178.344C65.1875 177.781 65.7396 177 66.2188 176H75.3125ZM66.5 165.562C66.3542 163.208 65.6354 161.427 64.3438 160.219C63.0729 158.99 61.4896 158.375 59.5938 158.375C57.5312 158.375 55.9271 159.021 54.7812 160.312C53.6562 161.604 52.9479 163.354 52.6562 165.562H66.5Z"
        ></path>
        <path
            data-sn={21}
            d="M77.8125 151.938H87.8125L94.9062 177.062L102.156 151.938H111.719L99.4375 186H90.0312L77.8125 151.938Z"
        ></path>
        <path
            data-sn={22}
            d="M145.312 176C145.083 178.021 144.031 180.073 142.156 182.156C139.24 185.469 135.156 187.125 129.906 187.125C125.573 187.125 121.75 185.729 118.438 182.938C115.125 180.146 113.469 175.604 113.469 169.312C113.469 163.417 114.958 158.896 117.938 155.75C120.938 152.604 124.823 151.031 129.594 151.031C132.427 151.031 134.979 151.562 137.25 152.625C139.521 153.688 141.396 155.365 142.875 157.656C144.208 159.677 145.073 162.021 145.469 164.688C145.698 166.25 145.792 168.5 145.75 171.438H122.438C122.562 174.854 123.635 177.25 125.656 178.625C126.885 179.479 128.365 179.906 130.094 179.906C131.927 179.906 133.417 179.385 134.562 178.344C135.188 177.781 135.74 177 136.219 176H145.312ZM136.5 165.562C136.354 163.208 135.635 161.427 134.344 160.219C133.073 158.99 131.49 158.375 129.594 158.375C127.531 158.375 125.927 159.021 124.781 160.312C123.656 161.604 122.948 163.354 122.656 165.562H136.5Z"
        ></path>
        <path data-sn={23} d="M152.344 139.938H161.25V186H152.344V139.938Z"
        ></path>
        <path
            data-sn={24}
            d="M198.562 156.25C201.438 159.854 202.875 164.115 202.875 169.031C202.875 174.031 201.438 178.312 198.562 181.875C195.688 185.417 191.323 187.188 185.469 187.188C179.615 187.188 175.25 185.417 172.375 181.875C169.5 178.312 168.062 174.031 168.062 169.031C168.062 164.115 169.5 159.854 172.375 156.25C175.25 152.646 179.615 150.844 185.469 150.844C191.323 150.844 195.688 152.646 198.562 156.25ZM185.438 158.375C182.833 158.375 180.823 159.302 179.406 161.156C178.01 162.99 177.312 165.615 177.312 169.031C177.312 172.448 178.01 175.083 179.406 176.938C180.823 178.792 182.833 179.719 185.438 179.719C188.042 179.719 190.042 178.792 191.438 176.938C192.833 175.083 193.531 172.448 193.531 169.031C193.531 165.615 192.833 162.99 191.438 161.156C190.042 159.302 188.042 158.375 185.438 158.375Z"
        ></path>
        <path
            data-sn={25}
            d="M238.688 155.594C241.438 158.531 242.812 162.844 242.812 168.531C242.812 174.531 241.458 179.104 238.75 182.25C236.062 185.396 232.594 186.969 228.344 186.969C225.635 186.969 223.385 186.292 221.594 184.938C220.615 184.188 219.656 183.094 218.719 181.656V199.406H209.906V151.938H218.438V156.969C219.396 155.49 220.417 154.323 221.5 153.469C223.479 151.948 225.833 151.188 228.562 151.188C232.542 151.188 235.917 152.656 238.688 155.594ZM233.625 168.969C233.625 166.344 233.021 164.021 231.812 162C230.625 159.979 228.688 158.969 226 158.969C222.771 158.969 220.552 160.5 219.344 163.562C218.719 165.188 218.406 167.25 218.406 169.75C218.406 173.708 219.458 176.49 221.562 178.094C222.812 179.031 224.292 179.5 226 179.5C228.479 179.5 230.365 178.542 231.656 176.625C232.969 174.708 233.625 172.156 233.625 168.969Z"
        ></path>
        <path
            data-sn={26}
            d="M276.312 176C276.083 178.021 275.031 180.073 273.156 182.156C270.24 185.469 266.156 187.125 260.906 187.125C256.573 187.125 252.75 185.729 249.438 182.938C246.125 180.146 244.469 175.604 244.469 169.312C244.469 163.417 245.958 158.896 248.938 155.75C251.938 152.604 255.823 151.031 260.594 151.031C263.427 151.031 265.979 151.562 268.25 152.625C270.521 153.688 272.396 155.365 273.875 157.656C275.208 159.677 276.073 162.021 276.469 164.688C276.698 166.25 276.792 168.5 276.75 171.438H253.438C253.562 174.854 254.635 177.25 256.656 178.625C257.885 179.479 259.365 179.906 261.094 179.906C262.927 179.906 264.417 179.385 265.562 178.344C266.188 177.781 266.74 177 267.219 176H276.312ZM267.5 165.562C267.354 163.208 266.635 161.427 265.344 160.219C264.073 158.99 262.49 158.375 260.594 158.375C258.531 158.375 256.927 159.021 255.781 160.312C254.656 161.604 253.948 163.354 253.656 165.562H267.5Z"
        ></path>
        <path
            data-sn={27}
            d="M301.281 160.156C297.698 160.156 295.292 161.323 294.062 163.656C293.375 164.969 293.031 166.99 293.031 169.719V186H284.062V151.938H292.562V157.875C293.938 155.604 295.135 154.052 296.156 153.219C297.823 151.823 299.99 151.125 302.656 151.125C302.823 151.125 302.958 151.135 303.062 151.156C303.188 151.156 303.448 151.167 303.844 151.188V160.312C303.281 160.25 302.781 160.208 302.344 160.188C301.906 160.167 301.552 160.156 301.281 160.156Z"
        ></path>
        <path
            data-sn={28}
            d="M343.125 139.656V146.906C342.625 146.844 341.781 146.802 340.594 146.781C339.427 146.74 338.615 147 338.156 147.562C337.719 148.104 337.5 148.708 337.5 149.375V152.25H343.344V158.531H337.5V186H328.625V158.531H323.656V152.25H328.531V150.062C328.531 146.417 329.146 143.906 330.375 142.531C331.667 140.49 334.781 139.469 339.719 139.469C340.281 139.469 340.792 139.49 341.25 139.531C341.708 139.552 342.333 139.594 343.125 139.656Z"
        ></path>
        <path
            data-sn={29}
            d="M365.281 160.156C361.698 160.156 359.292 161.323 358.062 163.656C357.375 164.969 357.031 166.99 357.031 169.719V186H348.062V151.938H356.562V157.875C357.938 155.604 359.135 154.052 360.156 153.219C361.823 151.823 363.99 151.125 366.656 151.125C366.823 151.125 366.958 151.135 367.062 151.156C367.188 151.156 367.448 151.167 367.844 151.188V160.312C367.281 160.25 366.781 160.208 366.344 160.188C365.906 160.167 365.552 160.156 365.281 160.156Z"
        ></path>
        <path
            data-sn={30}
            d="M401.562 156.25C404.438 159.854 405.875 164.115 405.875 169.031C405.875 174.031 404.438 178.312 401.562 181.875C398.688 185.417 394.323 187.188 388.469 187.188C382.615 187.188 378.25 185.417 375.375 181.875C372.5 178.312 371.062 174.031 371.062 169.031C371.062 164.115 372.5 159.854 375.375 156.25C378.25 152.646 382.615 150.844 388.469 150.844C394.323 150.844 398.688 152.646 401.562 156.25ZM388.438 158.375C385.833 158.375 383.823 159.302 382.406 161.156C381.01 162.99 380.312 165.615 380.312 169.031C380.312 172.448 381.01 175.083 382.406 176.938C383.823 178.792 385.833 179.719 388.438 179.719C391.042 179.719 393.042 178.792 394.438 176.938C395.833 175.083 396.531 172.448 396.531 169.031C396.531 165.615 395.833 162.99 394.438 161.156C393.042 159.302 391.042 158.375 388.438 158.375Z"
        ></path>
        <path
            data-sn={31}
            d="M431.281 161.312C430.531 159.667 429.062 158.844 426.875 158.844C424.333 158.844 422.625 159.667 421.75 161.312C421.271 162.25 421.031 163.646 421.031 165.5V186H412V152H420.656V156.969C421.76 155.198 422.802 153.938 423.781 153.188C425.51 151.854 427.75 151.188 430.5 151.188C433.104 151.188 435.208 151.76 436.812 152.906C438.104 153.969 439.083 155.333 439.75 157C440.917 155 442.365 153.531 444.094 152.594C445.927 151.656 447.969 151.188 450.219 151.188C451.719 151.188 453.198 151.479 454.656 152.062C456.115 152.646 457.438 153.667 458.625 155.125C459.583 156.312 460.229 157.771 460.562 159.5C460.771 160.646 460.875 162.323 460.875 164.531L460.812 186H451.688V164.312C451.688 163.021 451.479 161.958 451.062 161.125C450.271 159.542 448.812 158.75 446.688 158.75C444.229 158.75 442.531 159.771 441.594 161.812C441.115 162.896 440.875 164.198 440.875 165.719V186H431.906V165.719C431.906 163.698 431.698 162.229 431.281 161.312Z"
        ></path>
        <path data-sn={32} d="M487.125 139.938H496.688V186H487.125V139.938Z"
        ></path>
        <path
            data-sn={33}
            d="M520.188 158.531C517.167 158.531 515.094 159.812 513.969 162.375C513.385 163.729 513.094 165.458 513.094 167.562V186H504.219V152H512.812V156.969C513.958 155.219 515.042 153.958 516.062 153.188C517.896 151.812 520.219 151.125 523.031 151.125C526.552 151.125 529.427 152.052 531.656 153.906C533.906 155.74 535.031 158.792 535.031 163.062V186H525.906V165.281C525.906 163.49 525.667 162.115 525.188 161.156C524.312 159.406 522.646 158.531 520.188 158.531Z"
        ></path>
        <path
            data-sn={34}
            d="M575.156 140V186H566.5V181.281C565.229 183.302 563.781 184.771 562.156 185.688C560.531 186.604 558.51 187.062 556.094 187.062C552.115 187.062 548.76 185.458 546.031 182.25C543.323 179.021 541.969 174.885 541.969 169.844C541.969 164.031 543.302 159.458 545.969 156.125C548.656 152.792 552.24 151.125 556.719 151.125C558.781 151.125 560.615 151.583 562.219 152.5C563.823 153.396 565.125 154.646 566.125 156.25V140H575.156ZM551.156 169.188C551.156 172.333 551.781 174.844 553.031 176.719C554.26 178.615 556.135 179.562 558.656 179.562C561.177 179.562 563.094 178.625 564.406 176.75C565.719 174.875 566.375 172.448 566.375 169.469C566.375 165.302 565.323 162.323 563.219 160.531C561.927 159.448 560.427 158.906 558.719 158.906C556.115 158.906 554.198 159.896 552.969 161.875C551.76 163.833 551.156 166.271 551.156 169.188Z"
        ></path>
        <path
            data-sn={35}
            d="M592.312 151.938V186H583.281V151.938H592.312ZM592.312 139.656V147.875H583.281V139.656H592.312Z"
        ></path>
        <path
            data-sn={36}
            d="M602.438 155.625C604.792 152.625 608.833 151.125 614.562 151.125C618.292 151.125 621.604 151.865 624.5 153.344C627.396 154.823 628.844 157.615 628.844 161.719V177.344C628.844 178.427 628.865 179.74 628.906 181.281C628.969 182.448 629.146 183.24 629.438 183.656C629.729 184.073 630.167 184.417 630.75 184.688V186H621.062C620.792 185.312 620.604 184.667 620.5 184.062C620.396 183.458 620.312 182.771 620.25 182C619.021 183.333 617.604 184.469 616 185.406C614.083 186.51 611.917 187.062 609.5 187.062C606.417 187.062 603.865 186.188 601.844 184.438C599.844 182.667 598.844 180.167 598.844 176.938C598.844 172.75 600.458 169.719 603.688 167.844C605.458 166.823 608.062 166.094 611.5 165.656L614.531 165.281C616.177 165.073 617.354 164.812 618.062 164.5C619.333 163.958 619.969 163.115 619.969 161.969C619.969 160.573 619.479 159.615 618.5 159.094C617.542 158.552 616.125 158.281 614.25 158.281C612.146 158.281 610.656 158.802 609.781 159.844C609.156 160.615 608.74 161.656 608.531 162.969H599.938C600.125 159.99 600.958 157.542 602.438 155.625ZM609.062 179.562C609.896 180.25 610.917 180.594 612.125 180.594C614.042 180.594 615.802 180.031 617.406 178.906C619.031 177.781 619.875 175.729 619.938 172.75V169.438C619.375 169.792 618.802 170.083 618.219 170.312C617.656 170.521 616.875 170.719 615.875 170.906L613.875 171.281C612 171.615 610.656 172.021 609.844 172.5C608.469 173.312 607.781 174.573 607.781 176.281C607.781 177.802 608.208 178.896 609.062 179.562Z"
        ></path>
        <path data-sn={37} d="M637 176.688H646.469V186H637V176.688Z"></path>
    </svg>
</div>

<style>
    .intro {
        --animation-time: 5s;
        position: fixed;
        inset: 0;
        z-index: 100;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        background-color: var(--background);
        animation: appearOut 1s linear forwards;
        -webkit-animation: appearOut 1s linear forwards;
        -moz-animation: appearOut 1s linear forwards;
        animation-delay: calc(var(--animation-time) * 1.1);
    }

    .intro > svg {
        width: var(--max-width);
        fill: var(--accent);
        padding: 1rem;
    }

    .intro > svg > path {
        animation: appearIn calc(var(--animation-time) / 37)
            cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        -webkit-animation: appearIn calc(var(--animation-time) / 37)
            cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        -moz-animation: appearIn calc(var(--animation-time) / 37)
            cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        transform: translateY(100%);
        -webkit-animation: translateY(100%);
        -moz-animation: translateY(100%);
        transform-origin: center;
        opacity: 0;
    }

    @keyframes appearIn {
        20% {
            opacity: 1;
        }
        40% {
            transform: translateY(-5%);
            -webkit-animation: translateY(-5%);
            -moz-animation: translateY(-5%);
            opacity: 1;
        }
        70% {
            transform: translateY(3%);
            -webkit-animation: translateY(3%);
            -moz-animation: translateY(3%);
            opacity: 1;
        }
        100% {
            transform: translate(0);
            -webkit-animation: translate(0);
            -moz-animation: translate(0);
            opacity: 1;
        }
    }

    @keyframes appearOut {
        0% {
            transform: translate(0, 0%);
            -webkit-animation: translate(0, 0%);
            -moz-animation: translate(0, 0%);
            opacity: 1;
        }
        90% {
            transform: translate(-100%, 0);
            -webkit-animation: translate(-100%, 0);
            -moz-animation: translate(-100%, 0);
            opacity: 1;
        }
        100% {
            transform: translate(-100%, 0);
            -webkit-animation: translate(-100%, 0);
            -moz-animation: translate(-100%, 0);
            opacity: 0;
        }
    }

    .intro > svg > path:nth-child(1) {
        animation-delay: calc((var(--animation-time) / 37) * 1);
    }

    .intro > svg > path:nth-child(2) {
        animation-delay: calc((var(--animation-time) / 37) * 2);
    }

    .intro > svg > path:nth-child(3) {
        animation-delay: calc((var(--animation-time) / 37) * 3);
    }

    .intro > svg > path:nth-child(4) {
        animation-delay: calc((var(--animation-time) / 37) * 4);
    }

    .intro > svg > path:nth-child(5) {
        animation-delay: calc((var(--animation-time) / 37) * 5);
    }

    .intro > svg > path:nth-child(6) {
        animation-delay: calc((var(--animation-time) / 37) * 6);
    }

    .intro > svg > path:nth-child(7) {
        animation-delay: calc((var(--animation-time) / 37) * 7);
    }

    .intro > svg > path:nth-child(8) {
        animation-delay: calc((var(--animation-time) / 37) * 8);
    }

    .intro > svg > path:nth-child(9) {
        animation-delay: calc((var(--animation-time) / 37) * 9);
    }

    .intro > svg > path:nth-child(10) {
        animation-delay: calc((var(--animation-time) / 37) * 10);
    }

    .intro > svg > path:nth-child(11) {
        animation-delay: calc((var(--animation-time) / 37) * 11);
    }

    .intro > svg > path:nth-child(12) {
        animation-delay: calc((var(--animation-time) / 37) * 12);
    }

    .intro > svg > path:nth-child(13) {
        animation-delay: calc((var(--animation-time) / 37) * 13);
    }

    .intro > svg > path:nth-child(14) {
        animation-delay: calc((var(--animation-time) / 37) * 14);
    }

    .intro > svg > path:nth-child(15) {
        animation-delay: calc((var(--animation-time) / 37) * 15);
    }

    .intro > svg > path:nth-child(16) {
        animation-delay: calc((var(--animation-time) / 37) * 16);
    }

    .intro > svg > path:nth-child(17) {
        animation-delay: calc((var(--animation-time) / 37) * 17);
    }

    .intro > svg > path:nth-child(18) {
        animation-delay: calc((var(--animation-time) / 37) * 18);
    }

    .intro > svg > path:nth-child(19) {
        animation-delay: calc((var(--animation-time) / 37) * 19);
    }

    .intro > svg > path:nth-child(20) {
        animation-delay: calc((var(--animation-time) / 37) * 20);
    }

    .intro > svg > path:nth-child(21) {
        animation-delay: calc((var(--animation-time) / 37) * 21);
    }

    .intro > svg > path:nth-child(22) {
        animation-delay: calc((var(--animation-time) / 37) * 22);
    }

    .intro > svg > path:nth-child(23) {
        animation-delay: calc((var(--animation-time) / 37) * 23);
    }

    .intro > svg > path:nth-child(24) {
        animation-delay: calc((var(--animation-time) / 37) * 24);
    }

    .intro > svg > path:nth-child(25) {
        animation-delay: calc((var(--animation-time) / 37) * 25);
    }

    .intro > svg > path:nth-child(26) {
        animation-delay: calc((var(--animation-time) / 37) * 26);
    }

    .intro > svg > path:nth-child(27) {
        animation-delay: calc((var(--animation-time) / 37) * 27);
    }

    .intro > svg > path:nth-child(28) {
        animation-delay: calc((var(--animation-time) / 37) * 28);
    }

    .intro > svg > path:nth-child(29) {
        animation-delay: calc((var(--animation-time) / 37) * 29);
    }

    .intro > svg > path:nth-child(30) {
        animation-delay: calc((var(--animation-time) / 37) * 30);
    }

    .intro > svg > path:nth-child(31) {
        animation-delay: calc((var(--animation-time) / 37) * 31);
    }

    .intro > svg > path:nth-child(32) {
        animation-delay: calc((var(--animation-time) / 37) * 32);
    }

    .intro > svg > path:nth-child(33) {
        animation-delay: calc((var(--animation-time) / 37) * 33);
    }

    .intro > svg > path:nth-child(34) {
        animation-delay: calc((var(--animation-time) / 37) * 34);
    }

    .intro > svg > path:nth-child(35) {
        animation-delay: calc((var(--animation-time) / 37) * 35);
    }

    .intro > svg > path:nth-child(36) {
        animation-delay: calc((var(--animation-time) / 37) * 36);
    }

    .intro > svg > path:nth-child(37) {
        animation-delay: calc((var(--animation-time) / 37) * 37);
    }
</style>

<script is:inline>
    (() => document.documentElement.classList.toggle("loading"))();

    document
        .getElementById("intro")
        .addEventListener("animationend", function (e) {
            if (e.target === this) {
                document.documentElement.classList.toggle("loading");
                e.target.style["display"] = "none";
            }
        });
</script>
