---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script
            is:inline
            src="https://identity.netlify.com/v1/netlify-identity-widget.js"
        ></script>
    </head>
    <body>
        <slot />
        <script>
            declare global {
                interface Window {
                    netlifyIdentity: any;
                }
            }

            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", (user: any) => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
    :root {
        --max-width: 600px;
        --accent: #f5996f;
        /* --accent: #d04400; */
    }
    html.dark {
        --text: #ffffff;
        --sub-text: #bcbcbc;
        --alt-text: #959595;
        --background: #050505;
    }
    html.light {
        --text: #000000;
        --sub-text: #3c3c3c;
        --alt-text: #595959;
        --background: #ffffff;
    }
    html {
        background: var(--background);
        color: var(--text);
        font-size: 20px;
        line-height: 1.6;
        font-family:
            "Inter",
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            Fira Sans,
            Droid Sans,
            Helvetica Neue,
            sans-serif;
    }
    * {
        padding: 0;
        margin: 0;
        font-weight: 300;
        box-sizing: border-box;
    }
    a {
        text-decoration: none;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
        color: var(--accent) !important;
        fill: var(--accent) !important;
    }
</style>
